<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springleaf.knowseek.mapper.mysql.OperationLogMapper">

    <resultMap id="resultMap" type="com.springleaf.knowseek.model.entity.OperationLog">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="moduleName" column="module_name"/>
        <result property="ipAddress" column="ip_address"/>
        <result property="operationType" column="operation_type"/>
        <result property="description" column="description"/>
        <result property="requestUrl" column="request_url"/>
        <result property="requestMethod" column="request_method"/>
        <result property="requestParams" column="request_params"/>
        <result property="responseResult" column="response_result"/>
        <result property="responseMessage" column="response_message"/>
        <result property="operationTime" column="operation_time"/>
        <result property="executionTime" column="execution_time"/>
        <result property="roleName" column="role_name"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO tb_operation_log (user_id, module_name, ip_address, operation_type, description, request_url, request_method, request_params, response_result, response_message, operation_time, execution_time)
        VALUES (#{userId}, #{moduleName}, #{ipAddress}, #{operationType}, #{description}, #{requestUrl}, #{requestMethod}, #{requestParams}, #{responseResult}, #{responseMessage}, #{operationTime}, #{executionTime})
    </insert>

    <select id="selectByCondition" resultMap="resultMap">
        SELECT ol.*, u.role AS role_name
        FROM tb_operation_log ol
        LEFT JOIN tb_user u ON ol.user_id = u.id
        <where>
            <if test="userId != null">
                AND ol.user_id = #{userId}
            </if>
            <if test="moduleName != null and moduleName != ''">
                AND ol.module_name LIKE CONCAT('%', #{moduleName}, '%')
            </if>
            <if test="operationType != null and operationType != ''">
                AND ol.operation_type = #{operationType}
            </if>
            <if test="responseResult != null and responseResult != ''">
                AND ol.response_result = #{responseResult}
            </if>
            <if test="startTime != null and startTime != ''">
                AND ol.operation_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND ol.operation_time &lt;= #{endTime}
            </if>
            <if test="roleName != null and roleName != ''">
                AND u.role = #{roleName}
            </if>
        </where>
        ORDER BY ol.operation_time DESC
    </select>

</mapper>
