<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springleaf.knowseek.mapper.FileUploadMapper">

    <resultMap id="resultMap" type="com.springleaf.knowseek.model.entity.FileUpload">
        <id property="id" column="id"/>
        <result property="fileMd5" column="file_md5"/>
        <result property="fileName" column="file_name"/>
        <result property="userId" column="user_id"/>
        <result property="knowledgeBaseId" column="knowledge_base_id"/>
        <result property="status" column="status"/>
        <result property="totalSize" column="total_size"/>
        <result property="orgTag" column="org_tag"/>
        <result property="isPublic" column="is_public"/>
        <result property="location" column="location"/>
        <result property="createdAt" column="created_at"/>
        <result property="mergedAt" column="merged_at"/>
        <result property="deleted" column="deleted"/>
    </resultMap>

    <!-- 新增文件上传记录 -->
    <insert id="saveFileUpload" parameterType="com.springleaf.knowseek.model.entity.FileUpload" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_file_upload (
            file_md5, file_name, total_size, status, user_id, knowledge_base_id, org_tag, is_public, location
        ) VALUES (
            #{fileMd5}, #{fileName}, #{totalSize}, #{status}, #{userId}, #{knowledgeBaseId}, #{orgTag}, #{isPublic}, #{location}
        )
    </insert>

    <!-- 判断文件是否已上传成功 -->
    <select id="existFileUpload" resultMap="resultMap">
        SELECT * FROM tb_file_upload
        WHERE file_md5 = #{fileMd5}
        AND user_id = #{userId}
        AND knowledge_base_id = #{knowledgeBaseId}
        AND deleted = 0
    </select>

    <!-- 更新文件的 OSS 地址 -->
    <update id="updateOSSLocation">
        UPDATE tb_file_upload
        SET location = #{location}
        WHERE id = #{id}
          AND deleted = 0
    </update>

    <!-- 更新文件上传状态 -->
    <update id="updateUploadStatus">
        UPDATE tb_file_upload
        SET status = #{status}
        WHERE id = #{id}
          AND deleted = 0
    </update>

    <update id="updateFileLocationAndStatus">
        UPDATE tb_file_upload
        SET location = #{location}, status = #{status}, merged_at = NOW()
        WHERE id = #{id}
          AND deleted = 0
    </update>

    <!-- 根据 MD5 和用户 ID 查询文件详情 -->
    <select id="findByMd5AndUserId" resultMap="resultMap">
        SELECT *
        FROM tb_file_upload
        WHERE file_md5 = #{fileMd5}
          AND user_id = #{userId}
          AND deleted = 0
    </select>

    <select id="selectByUserId" resultMap="resultMap">
        SELECT * FROM tb_file_upload WHERE user_id = #{userId} AND deleted = 0
    </select>

    <select id="selectByKnowledgeBaseId" resultMap="resultMap">
        SELECT * FROM tb_file_upload WHERE knowledge_base_id = #{id} AND deleted = 0
    </select>

</mapper>