<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springleaf.knowseek.mapper.KnowledgeBaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springleaf.knowseek.model.entity.KnowledgeBase">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="user_id" property="userId" />
        <result column="description" property="description" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, user_id, description, created_at, updated_at, deleted
    </sql>

    <!-- 根据name、userId, description新增 -->
    <insert id="insertKnowledgeBase" parameterType="com.springleaf.knowseek.model.entity.KnowledgeBase" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_knowledge_base (name, user_id, description)
        VALUES (#{name}, #{userId}, #{description})
    </insert>

    <!-- 根据id删除 -->
    <update id="deleteKnowledgeBaseById">
        UPDATE tb_knowledge_base
        SET deleted = 1
        WHERE id = #{id}
    </update>

    <!-- 获取全部未删除的list -->
    <select id="selectAllKnowledgeBase" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_knowledge_base
        WHERE user_id = #{userId} AND deleted = 0
    </select>

    <!-- 根据id更新name和description（仅当未删除且name和description不为空时） -->
    <update id="updateKnowledgeBaseNameById" parameterType="com.springleaf.knowseek.model.entity.KnowledgeBase">
        UPDATE tb_knowledge_base
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            description = #{description}
        </set>
        WHERE id = #{id} AND deleted = 0
    </update>

    <!-- 根据ID获取知识库信息 -->
    <select id="selectKnowledgeBaseById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM tb_knowledge_base
        WHERE id = #{id} AND deleted = 0
    </select>

</mapper>